.good{
    background: #ccc;
    ul{
        display:block;
        li{
            float: left
            width: 100px
            span{
                display:hidden;
            }
        }
    }
}