.fix {
  position: fixed;
  right: 2px;
  top: 206px;
  background: #fff;
  width: 52px;
  z-index: 9997;
}

.fix .top li:first-child {
  background-color: #0cb95f;
  border-color: #0cb95f;
}

.fix .top li {
  height: 52px;
  width: 52px;
  background: url(../img/icons.png);
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  padding: 10px;
  text-decoration: none;
  position: relative;
}

.fix .top li a {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0 auto;
}

.fix .top li .num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #e50000;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  font-style: normal;
  font-size: 12px;
  font-family: Arial;
  opacity: .8;
}

.fix .top li .contact {
  position: absolute;
  right: 51px;
  top: -1px;
  display: none;
  font-size: 0;
  padding-right: 10px;
}

.fix .top li .contact .contact_min {
  background: #0cb95f;
  padding: 8px;
  width: 142px;
}

.fix .top li .contact .contact_min p {
  color: #fff;
  line-height: 1;
  font-size: 12px;
  position: relative;
}

.fix .top li .contact .contact_min p img {
  position: absolute;
  top: -4px;
  right: 2px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.fix .top li .contact .contact_min a {
  display: block;
  height: 35px;
  width: 126px;
  background: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 8px;
}

.fix .top li .cart {
  display: none;
  overflow-y: scroll;
  position: absolute;
  border: 1px solid #e5e5e5;
  height: 400px;
  left: -175px;
  top: -1px;
}

.fix .top li .cart ul li {
  background: #fff;
  padding: 5px;
  width: 155px;
  height: 100px;
  border: none;
}

.fix .top li .cart ul li img {
  width: 50px;
  height: 50px;
}

.fix .top li .cart ul li div {
  display: inline-block;
  font-size: 10px;
  width: 88px;
  vertical-align: middle;
  font-size: 10px;
  display: inline-block;
}

.fix .top li .cart ul li .name {
  height: 32px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.fix .top li .cart ul li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.fix .top li:hover a {
  display: block;
  background: #0cb95f;
  color: #fff;
  border-color: #0cb95f;
}

.fix .top li:hover {
  background-color: #0cb95f;
}

.fix .top li:hover i {
  display: none;
}

.fix .top .wx {
  position: absolute;
  right: 73px;
  top: 0;
  background: #fff;
  padding: 15px 20px;
  border: 1px solid #e5e5e5;
  color: #333;
  line-height: 24px;
  width: 155px;
  display: block;
  height: 198px;
  text-align: center;
  display: none;
}

.fix .top .wx img {
  width: 80px;
  height: 80px;
}

.fix .top .app {
  display: none;
  position: absolute;
  right: 73px;
  top: 0;
  background: #fff;
  padding: 15px 20px;
  padding-top: 32px;
  border: 1px solid #e5e5e5;
  color: #333;
  line-height: 24px;
  width: 155px;
  height: 156px;
  text-align: center;
}

.fix .top .app img {
  width: 80px;
  height: 80px;
}
