.fix {
  position: fixed;
  right: 2px;
  top: 206px;
  background: #fff;
  width: 52px;
  z-index: 9997;
}

.fix ul li:first-child {
  background-color: #0cb95f;
  border-color: #0cb95f;
}

.fix ul li {
  height: 52px;
  width: 52px;
  background: url(../img/icons.png);
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  padding: 10px;
  text-decoration: none;
  position: relative;
}

.fix ul li a {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0 auto;
}

.fix ul li .num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #e50000;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  font-style: normal;
  font-size: 12px;
  font-family: Arial;
  opacity: .8;
}

.fix ul li .contact {
  position: absolute;
  right: 51px;
  top: -1px;
  display: none;
  font-size: 0;
  padding-right: 10px;
}

.fix ul li .contact .contact_min {
  background: #0cb95f;
  padding: 8px;
  width: 142px;
}

.fix ul li .contact .contact_min p {
  color: #fff;
  line-height: 1;
  font-size: 12px;
  position: relative;
}

.fix ul li .contact .contact_min p img {
  position: absolute;
  top: -4px;
  right: 2px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.fix ul li .contact .contact_min a {
  display: block;
  height: 35px;
  width: 126px;
  background: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 8px;
}

.fix ul li:hover a {
  display: block;
  background: #0cb95f;
  color: #fff;
  border-color: #0cb95f;
}

.fix ul li:hover {
  background-color: #0cb95f;
}

.fix ul li:hover i {
  display: none;
}

.fix ul .wx {
  position: absolute;
  right: 73px;
  top: 0;
  background: #fff;
  padding: 15px 20px;
  border: 1px solid #e5e5e5;
  color: #333;
  line-height: 24px;
  width: 155px;
  display: block;
  height: 198px;
  text-align: center;
  display: none;
}

.fix ul .wx img {
  width: 80px;
  height: 80px;
}

.fix ul .app {
  position: absolute;
  right: 73px;
  top: 0;
  background: #fff;
  padding: 15px 20px;
  padding-top: 32px;
  border: 1px solid #e5e5e5;
  color: #333;
  line-height: 24px;
  width: 155px;
  display: block;
  height: 156px;
  text-align: center;
}

.fix ul .app img {
  width: 80px;
  height: 80px;
}

.banner {
  width: 100%;
  height: 390px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 200;
}

.banner .banner_min {
  height: 390px;
  border: none;
}

.banner .sell {
  width: 180px;
  height: 100%;
  position: absolute;
  right: 141px;
  top: 0;
  z-index: 1000;
}

.wrap {
  margin-bottom: 20px;
}

.wrap .container .xsqg {
  margin-bottom: 10px;
}

.wrap .container .xsqg .cont {
  border: 1px solid #e4e4e4;
  margin-top: 10px;
  padding-top: 10px;
}

.wrap .container .xsqg .cont .item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 18.999%;
  letter-spacing: 0;
  height: 100%;
  overflow: hidden;
}

.wrap .container .xsqg .cont .item a img {
  display: block;
  height: 190px;
  width: 190px;
  margin-top: 18px;
  position: relative;
  margin: 12px auto;
}

.wrap .container .xsqg .cont .item a i {
  background-color: #ff0029;
  display: block;
  width: 57px;
  padding-top: 47px;
  height: 40px;
  position: absolute;
  right: 0;
  top: -18px;
}

.wrap .container .xsqg .cont .item a i span {
  display: block;
  width: 57px;
  padding-top: 47px;
  background: url(../img/index_save.png) no-repeat;
  background-position: center 5px;
  position: absolute;
  right: 0;
  top: 17px;
}

.wrap .container .xsqg .cont .item a i b {
  position: absolute;
  margin-top: 18px;
  font-size: 13px;
  padding-left: 8px;
  color: #fff;
}

.wrap .container .xsqg .cont .item a img:hover {
  transform: scale(1.2);
}

.wrap .container .xsqg .cont .item p a {
  font-size: 14px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 28px;
  line-height: 28px;
  display: block;
  text-align: center;
  font-size: 17px;
}

.wrap .container .xsqg .cont .item .price {
  display: block;
  color: red;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 11px;
}

.wrap .container .xsqg .top {
  line-height: 27px;
  font-size: 20px;
}

.wrap .container .xsqg .top i {
  display: inline-block;
  width: 45px;
  height: 27px;
  vertical-align: middle;
  background: url(../img/xianshi.png) no-repeat;
  background-position: -100px -5px;
}

.lift {
  position: relative;
}

.lift #menu {
  top: 65px;
  left: 56.5px;
  display: none;
  position: fixed;
  width: 42px;
  border: 1px solid #e5e5e5;
}

.lift #menu ul li {
  height: 78px;
  width: 40px;
  position: relative;
  cursor: pointer;
}

.lift #menu ul li a {
  display: block;
  height: 78px;
  width: 40px;
  position: relative;
}

.lift #menu ul li a i {
  background: url(../img/icons.png);
  display: block;
  height: 24px;
  width: 20px;
  position: absolute;
  top: 9px;
  left: 10px;
}

.lift #menu ul li a span {
  color: #999;
  text-align: center;
  display: block;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 0;
  line-height: 16px;
  padding: 0 6px;
}

.lift #menu ul li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.lift #menu ul li:hover {
  background: #0cb95f;
}

.lift #menu ul li:hover span {
  color: #fff;
}

.lift #menu ul, .lift #menu ul i {
  color: #fff;
}

.lift #menu .active {
  background: #0cb95f;
}

.lift .container #main .Louti {
  height: 622px;
  margin-bottom: 20px;
}

.lift .container #main .Louti .title {
  overflow: hidden;
}

.lift .container #main .Louti .title span i {
  background: #0cb95f;
  float: left;
  display: block;
  width: 22px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

.lift .container #main .Louti .title span .l {
  text-align: right;
  padding-right: 4px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.lift .container #main .Louti .title span .r {
  text-align: left;
  padding-left: 4px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  margin-left: 2px;
}

.lift .container #main .Louti .title h2 {
  float: left;
  font-size: 20px;
  padding-left: 10px;
}

.lift .container #main .Louti .title .tnav {
  float: right;
  height: 14px;
  margin: 16px 0 15px;
}

.lift .container #main .Louti .title .tnav a {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  float: right;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.lift .container #main .Louti .title .tnav a:not(:first-child) {
  border-right: 1px solid #5e5e5e;
}

.lift .container #main .Louti .title .tnav a:hover {
  background: #0cb95f;
  color: #fff;
}

.lift .container #main .Louti .content {
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.lift .container #main .Louti .content .left {
  height: 580px;
  width: 300px;
  float: left;
  position: relative;
}

.lift .container #main .Louti .content .left .big {
  width: 300px;
  height: 363px;
}

.lift .container #main .Louti .content .left .min {
  overflow: hidden;
  border: 1px solid #e5e5e5;
  margin: 0 0 -1px -1px;
}

.lift .container #main .Louti .content .left .min a {
  display: block;
  float: left;
  width: 148px;
  height: 71px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.lift .container #main .Louti .content .right {
  position: relative;
  overflow: hidden;
  height: 580px;
}

.lift .container #main .Louti .content .right ul {
  position: absolute;
  left: 0;
  top: 0;
}

.lift .container #main .Louti .content .right ul li {
  float: left;
  height: 290px;
  width: 222px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 10px 18px 10px 18px;
  position: relative;
}

.lift .container #main .Louti .content .right ul li a {
  color: #333;
}

.lift .container #main .Louti .content .right ul li a img {
  width: 100%;
  margin: 12px auto;
}

.lift .container #main .Louti .content .right ul li p {
  margin: 10px 0;
  text-align: center;
}

.lift .container #main .Louti .content .right ul li .price {
  display: block;
  text-align: center;
  color: #e50000;
  font-size: 14px;
}

.lift .container #main .Louti .content .right img:hover {
  transform: scale(1.1);
}

.lift .container #main .Louti .content .last {
  height: 532px;
  background: url(../img/ea833f95-2d74-4fd7-a4b1-7cfe1e9576db6330.jpg) no-repeat;
}

.lift .container #main .Louti .content .last .left_btn {
  position: absolute;
  top: 316px;
  left: 10px;
}

.lift .container #main .Louti .content .last .left_btn a {
  color: #fff;
  float: left;
  background-color: #fa8138;
  font-size: 14px;
  width: 87px;
  display: block;
  line-height: 40px;
  margin-left: 5px;
  text-align: center;
}

.lift .container #main .Louti .content .last .left_btn a:hover {
  background-color: #e55906;
}

.lift .container #main .Louti .content .last .left_bb {
  width: 280px;
  position: absolute;
  top: 380px;
  left: 10px;
  height: 130px;
  background-color: #fcf1e1;
  bottom: 20px;
}

.lift .container #main .Louti .content .last .left_bb h3 {
  font-size: 23px;
  padding: 20px 0 16px 0;
  color: #e65a07;
  text-align: center;
}

.lift .container #main .Louti .content .last .left_bb a {
  color: #fff;
  background: url(../img/butt_bg.png) repeat-x 0 0;
  display: block;
  width: 80%;
  margin: auto;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.lift .container #main .Louti .content .last_mid {
  width: 667px;
  float: left;
}

.lift .container #main .Louti .content .last_mid .mid_lbt {
  border: 1px solid #e5e5e5;
  float: left;
  width: 442px;
  height: 266px;
}

.lift .container #main .Louti .content .last_mid .mid_lbt img {
  width: 442px;
  height: 266px;
}

.lift .container #main .Louti .content .last_mid .mid_item {
  float: left;
  width: 221px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 10px 18px 10px 18px;
  position: relative;
  height: 266px;
}

.lift .container #main .Louti .content .last_mid .mid_item a {
  font-size: 12px;
  color: #333;
}

.lift .container #main .Louti .content .last_mid .mid_item a img {
  width: 156px;
  height: 156px;
}

.lift .container #main .Louti .content .last_mid .mid_item p a {
  font-size: 12px;
  color: #333;
}

.lift .container #main .Louti .content .last_mid .mid_item span {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  display: block;
}

.lift .container #main .Louti .content .last_mid .mid_item .price {
  font-size: 12px;
  color: #333;
}

.lift .container #main .Louti .content .last_mid .mid_item .pf {
  color: #ff7400;
}

.lift .container #main .Louti .content .last_right {
  float: left;
  width: 221px;
  border-left: 0;
  border-top: 0;
  height: 531px;
}

.lift .container #main .Louti .content .last_right dl dt {
  line-height: 42px;
  height: 42px;
  color: #999;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2px;
  font-size: 12px;
}

.lift .container #main .Louti .content .last_right dl dd {
  padding: 10px;
}

.lift .container #main .Louti .content .last_right dl dd a {
  vertical-align: middle;
  display: inline-block;
  width: 70px;
  height: 70px;
  color: #333;
}

.lift .container #main .Louti .content .last_right dl dd a img {
  vertical-align: middle;
  width: 70px;
  height: 70px;
}

.lift .container #main .Louti .content .last_right dl dd div {
  padding-left: 10px;
  vertical-align: middle;
  display: inline-block;
}

.lift .container #main .Louti .content .last_right dl dd div span {
  color: #999;
}

.lift .container #main .Louti .content .last_right dl dd div span {
  display: block;
  font-size: 12px;
}

.lift .container #main .Louti .content .last_right dl dd div span a {
  height: 20px;
}

.lift .container #main .Louti .content .last_right dl dd:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.adv {
  height: 110px;
  margin: -40px 0 10px 0;
}

.newslist {
  overflow: hidden;
}

.newslist .container .news:nth-child(2) {
  margin: 0 23px;
}

.newslist .container .news {
  width: 381px;
  border: 1px solid #e5e5e5;
  float: left;
}

.newslist .container .news .title {
  overflow: hidden;
  line-height: 40px;
  background: #f4f4f4;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 20px;
}

.newslist .container .news .title h4 {
  font-size: 14px;
  float: left;
  width: 100px;
  font-weight: normal;
  color: #666;
}

.newslist .container .news .title a {
  float: right;
  color: #999;
  width: 60px;
  display: block;
  font-size: 14px;
}

.newslist .container .news .top {
  height: 92px;
  padding-top: 8px;
  padding-bottom: 6px;
}

.newslist .container .news .top .l {
  display: block;
  float: left;
  padding: 10px 15px 0 15px;
  width: 100px;
  position: relative;
}

.newslist .container .news .top .l img {
  width: 100px;
  height: 80px;
}

.newslist .container .news .top .r {
  float: left;
  width: 230px;
  padding: 10px 10px 0 0;
}

.newslist .container .news .top .r a {
  display: block;
  height: 16px;
  line-height: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  overflow: hidden;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.newslist .container .news .top .r p {
  line-height: 20px;
  color: #666;
  margin-top: 10px;
  font-size: 12px;
}

.newslist .container .news ul {
  padding: 5px 17px 10px;
}

.newslist .container .news ul li {
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
}

.newslist .container .news ul li a {
  color: #666;
  font-size: 12px;
}

.newslist .container .news .pl {
  width: 381px;
  height: 224px;
  overflow: hidden;
  position: relative;
}

.newslist .container .news .pl ul {
  position: absolute;
}

.newslist .container .news .pl ul li {
  color: #666;
  clear: both;
  display: block;
  overflow: hidden;
  width: 360px;
  height: 113px;
  line-height: 113px;
  overflow: hidden;
  border-bottom: 1px dashed #e5e5e5;
}

.newslist .container .news .pl ul li img {
  border: 1px solid #f4f4f4;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.newslist .container .news .pl ul li p {
  font-size: 12px;
  display: inline;
  float: left;
  margin-left: 20px;
  width: 276px;
  position: relative;
  float: right;
}

.links {
  overflow: hidden;
  margin: 20px 0;
}

.links .container {
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.links .container .linksnav {
  border-bottom: 1px solid #e5e5e5;
  line-height: 39px;
  height: 40px;
  background: #f4f4f4;
}

.links .container .linksnav span {
  background: #f4f4f4;
  display: inline-block;
  width: 137px;
  text-align: center;
}

.links .container .linksnav .f-active {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.links .container .tab .hot-goods {
  overflow: hidden;
  padding: 20px 35px;
}

.links .container .tab .hot-goods a {
  display: block;
  float: left;
  margin: 10px 0;
  width: 110px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.links .container .tab .yqlj {
  overflow: hidden;
  padding: 20px 35px;
}

.links .container .tab .yqlj a {
  display: block;
  float: left;
  margin: 10px 0;
  width: 110px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.fix_top {
  display: none;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  z-index: 100000;
  background: #000;
  opacity: .8;
}

.fix_top .container {
  position: relative;
}

.fix_top .container .logo {
  background: url(../img/logo2.png);
  width: 160px;
  height: 40px;
  display: block;
  position: absolute;
  left: 10px;
  top: 7px;
}

.fix_top .container form {
  background: #fff;
  position: absolute;
  top: 10px;
  left: 300px;
  width: 542px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #0cb95f;
}

.fix_top .container form .current {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 11px;
  right: 8px;
  background: url(../img/icons.png) no-repeat;
  background-position: -109px 1px;
}

.fix_top .container form span {
  display: block;
  position: absolute;
  left: 0;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
}

.fix_top .container form .search_menu {
  display: none;
  width: 80px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
}

.fix_top .container form .search_menu li {
  height: 30px;
  line-height: 30px;
}

.fix_top .container form .search_menu li a {
  font-size: 12px;
  color: #000;
}

.fix_top .container form input {
  margin-left: 82px;
  width: 350px;
  height: 25px;
  padding: 5px 10px;
  vertical-align: middle;
}

.fix_top .container form .submit {
  float: right;
  width: 90px;
  height: 33px;
  background: #0cb95f;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
}

.fix_top .container .hot {
  margin-top: 10px;
}

.fix_top .container .hot li {
  float: left;
}

.fix_top .container .hot li a {
  font-size: 12px;
  padding: 0 12px;
  border-right: 1px solid #ccc;
}

.fix_top .container .hot li .last {
  border: none;
}
