@charset "UTF-8";
.header_top_small {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
  position: relative;
  color: #666;
}

.header_top_small .container {
  overflow: hidden;
  width: 1100px;
}

.header_top_small .left {
  float: left;
  width: 250px;
  padding-left: 5px;
}

.header_top_small .left li {
  float: left;
}

.header_top_small .left li i {
  float: left;
  display: block;
  float: left;
  margin: 10px 5px 5px 0;
  width: 20px;
  height: 20px;
}

.header_top_small .left li .wx {
  background: url(../img/icons.png) no-repeat;
  background-position: -49px -3px;
}

.header_top_small .left li .app {
  background: url(../img/icons.png) no-repeat;
  background-position: -68px -3px;
}

.header_top_small .left li a {
  float: left;
  font-size: 12px;
  color: #333;
}

.header_top_small .left li s {
  float: left;
  display: block;
  margin: 10px 10px 10px 10px;
  width: 1px;
  height: 20px;
  border-right: 1px solid #e5e5e5;
  font-size: 0;
  overflow: hidden;
}

.header_top_small .right {
  position: relative;
  float: right;
  width: 735px;
}

.header_top_small .right .daohang {
  position: relative;
  padding-left: 20px;
}

.header_top_small .right li {
  float: right;
  width: 93px;
  line-height: 40px;
  font-size: 12px;
}

.header_top_small .right li a {
  color: #333;
}

.header_top_small .right li i {
  float: right;
  display: block;
  margin: 10px 5px 10px 0;
  width: 20px;
  height: 20px;
  background: url(../img/icons.png) no-repeat;
  background-position: -121px 1px;
}

.header_top_small .right li .line {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 1px;
  border-top: 0;
  border-bottom: 1px solid #fff;
  background: #fff;
  height: 41px;
  width: 93px;
  padding-left: 20px;
}

.header_top_small .right li .line a {
  line-height: 40px;
  font-size: 12px;
}

.header_top_small .right li .line i {
  float: right;
  display: block;
  margin: 10px 5px 10px 0;
  width: 20px;
  height: 20px;
  background: url(../img/icons.png) no-repeat;
  background-position: -137px 1px;
}

.header_top_small .right li .other {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  right: -1px;
  top: 40px;
  z-index: 2;
  width: 450px;
  padding: 10px 0;
  line-height: 1.5;
  display: none;
}

.header_top_small .right li .other .item {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
}

.header_top_small .right li .other .item h1 {
  color: #0cb95f;
  font-size: 14px;
  padding: 0 0 5px 5px;
}

.header_top_small .right li .other .item a {
  display: inline-block;
  vertical-align: top;
  padding: 2px 5px;
  color: #333;
}

.header_top_small .right li .other .item_right {
  border-left: 1px solid #ccc;
}

.header_small {
  position: relative;
}

.header_small .container {
  width: 1100px;
  height: 120px;
  position: relative;
}

.header_small .container .logo {
  width: 345px;
  position: absolute;
  top: 24px;
  left: 10px;
}

.header_small .container .logo a {
  float: left;
  width: 210px;
  height: 70px;
  display: block;
}

.header_small .container .logo .sub {
  float: left;
  margin: 10px;
  padding-left: 15px;
  height: 55px;
  border-left: 1px solid #e5e5e5;
  font-weight: bold;
  font-size: 24px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  line-height: 55px;
  color: #666;
}

.zhongjian {
  height: 540px;
  background: url(../img/7ad46d5a-11d0-4e55-8696-c01c644bd7406357.png) center top;
}

.zhongjian .container {
  height: 540px;
  width: 1100px;
  position: relative;
}

.zhongjian .container .main {
  position: absolute;
  right: 0;
  top: 50;
  margin-top: 50px;
}

.zhongjian .container .main .form {
  margin-top: 0;
  padding: 20px 40px 6px 40px;
  width: 400px;
  background: #fff;
}

.zhongjian .container .main .form .top {
  overflow: hidden;
  width: 320px;
  zoom: 1;
  top: -55px;
  font-family: "微软雅黑";
  font-size: 0;
}

.zhongjian .container .main .form .top span {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  color: #999;
  float: left;
  width: 48%;
  margin: 0 1%;
  text-align: center;
}

.zhongjian .container .main .form .top span:first-child {
  border-bottom: 4px solid #16c08e;
  color: #16c08e;
}

.zhongjian .container .main .form .mid {
  position: relative;
}

.zhongjian .container .main .form .mid .mid_top {
  height: 60px;
  line-height: 60px;
}

.zhongjian .container .main .form .mid .mid_top p span {
  font-size: 14px;
  margin-left: 40px;
}

.zhongjian .container .main .form .mid .mid_top p a {
  font-size: 14px;
  color: #16c08e;
}

.zhongjian .container .main .form .mid .mid_mid span {
  display: block;
  position: relative;
  height: 40px;
}

.zhongjian .container .main .form .mid .mid_mid span input {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 35px;
  width: 320px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  line-height: 40px;
  background: #faffbd;
}

.zhongjian .container .main .form .mid .mid_mid span i {
  position: absolute;
  top: 8px;
  left: 10px;
  display: block;
  width: 18px;
  height: 25px;
  background: url(../img/icons.png);
}

.zhongjian .container .main .form .mid .mid_mid .username i {
  background-position: -351px -109px;
}

.zhongjian .container .main .form .mid .mid_mid .password {
  margin-top: 15px;
}

.zhongjian .container .main .form .mid .mid_mid .password i {
  background-position: -371px -109px;
}

.zhongjian .container .main .form .mid .remember {
  height: 50px;
  line-height: 50px;
}

.zhongjian .container .main .form .mid .remember .ck {
  position: relative;
  float: left;
}

.zhongjian .container .main .form .mid .remember .ck i {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-position: -60px -25px;
  left: 0;
  top: 18px;
  background-image: url(../img/icons.png);
}

.zhongjian .container .main .form .mid .remember .ck span {
  font-size: 12px;
  margin-left: 20px;
}

.zhongjian .container .main .form .mid .remember a {
  float: right;
  font-size: 12px;
  color: #333;
}

.zhongjian .container .main .form .mid button {
  display: block;
  width: 320px;
  height: 50px;
  line-height: 50px;
  background: #0cb95f;
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin: 5px 0;
}

.zhongjian .container .main .form .mid .other {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.zhongjian .container .main .form .mid .other p {
  height: 50px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  line-height: 50px;
  font-size: 12px;
}

.zhongjian .container .main .form .mid .other .others {
  float: left;
  display: block;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background: url(../img/icons.png) no-repeat;
}

.foot .foot_small {
  color: #999;
  padding: 10px 0;
  height: auto;
}

.foot .foot_small .container {
  width: 1100px;
}

.foot .foot_small .container .line {
  text-align: center;
  padding: 6px 0;
}

.foot .foot_small .container .line a {
  color: #999;
  padding: 0 6px;
  font-size: 12px;
  border-right: 1px solid #999;
}

.foot .foot_small .container .line a.last {
  border: none;
}

.foot .foot_small .container .beian {
  overflow: hidden;
  padding: 6px 0;
  font-size: 12px;
}

.foot .foot_small .container .beian span {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-right: 12px;
}

.foot .foot_small .container .beian span i {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../img/gaba.png) no-repeat;
}

.foot .foot_small .container .beian span a {
  color: #333;
}

.foot .foot_small .container p {
  text-align: center;
  font-size: 12px;
  padding: 6px 0;
}
